# Database connection string
DATABASE_URI=postgresql://vaibhav:vaibhav@db.adqthqxdcsabeoopemul.supabase.co:5432/vaibhav

# Or use a PG connection string
#DATABASE_URI=postgresql://vaibhav:vaibhav@db.adqthqxdcsabeoopemul.supabase.co:5432/vaibhav

# Used to encrypt JWT tokens
PAYLOAD_SECRET=d70b1155bf353bfdf91c5664b1faff46c5e645175684020343ffef4569f2b7adce66a815cf683a7675cb98dad277e3ae

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
